/* places_detail comment section */

.comment{
    margin:10px 30px;
}
.comment_btn{
    margin:0 20px;
    display: flex;
    justify-content: flex-end;
}

/* ------------------------------------------------------- */
/* add comment page */


.title{
    font-weight: 700;
}

.comment_title h1{
    text-align:center;
    margin-bottom: 30px;
}
.comment_small_container{
    background:#fff;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    width:500px;
    margin:0 auto;
}
.comment_small_container .comment_form{
    margin: 20px 20px;
    height:500px;
}

.comment_small_container .comment_form input{
    width:30%;
    border: 2px solid #e6e6e6;
    border-radius: 3px;
    
}
.comment_small_container .comment_form textarea{
    
    width:100%;
    height:330px;
    border: 2px solid #e6e6e6;
    border-radius: 3px;
}

.comment_small_container .comment_form .submit_btn{
    display:flex;
    justify-content: flex-end;
}