ul{
    list-style: none;
}

.notice-container{
    display:flex;
    flex-direction: column;
    height:300px;
}
.notice-header{
    background:lavender;
    font-size: 2em;
}
.notice-content{
    height:800px;
    border: 2px solid black;
}


