ul{
    list-style: none;
}

.logo_title{
    margin: 0 30px;
    font-family: 'Pacifico', cursive;
}
.notice-container{
    display:flex;
    flex-direction: column;
    height:300px;
}
.notice-header{
    font-size: 2em;
}
.notice-content{
    height:800px;   
}

/* -------------------------------------------------- */
/* add_places form part */
.add_places_title{
    display:flex;
    justify-content: center;
}
.add_places_title h1{
    font-weight: 500;
}

.add_places_submit_btn {
    display: flex;
    justify-content: flex-end;
}
.places_big_container{
    
}

.places_small_container{
    width:350px;
    padding-top: 30px;
    margin:0 auto;
}

.places_small_container form{
    width:100%;
    border:1px solid #e6e6e6;
    padding:15px 20px 25px 20px;
}

.places_small_container p :nth-child(2){
    /* border: 1px solid #e6e6e6; */
    border-radius: 2px;
}

.places_input{
    border:1px solid #e6e6e6;
}

.delete_btn{
    display:flex;
    justify-content: flex-end;
    margin:50px 55px;
}
/* ----------------------------------------- */
/* notice page */

.notice_add_btn{
    display:flex;
    margin:100px 0px;
    justify-content: flex-end;
}
.notice_container{
    width: 600px;
    margin: 0 auto;
}

.notice_title{
    display:flex;
    justify-content: center;
}

.notice_list{
    border: 1px solid #e6e6e6;
}
.notice_fields{
    margin: 0px 30px;
    display:flex;
    /* justify-content: space-around;   */
}

.notice_fields p{
    margin:10px 0px;
    font-weight: 700;
}
.notice_fields p:nth-child(1){
    margin-left: 32px;
    margin-right: 388px;
}

.notices{
    margin: 15px 0px;
}

.noti ul{
    display:flex;
}
.noti .notice_page{

    width:187px;
    overflow:hidden;
}
.noti .notice_author{
    margin-left: 250px;
}
/* ---------------- */

.card{
    margin:10px 0px;
}

.card-body p{
    overflow: hidden;
    width: 200px;
    height: 70px;
}


/* ----------------- */
/* 반응형 적용 */

@media screen and (max-width:992px){
    .category_name{
        display:none;
    }
    .place_list{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .place_list .card-body p{
        width:60%;
        overflow:hidden;
    }
}

@media screen and (max-width:768px){
    .place_group{
        display:flex;
        flex-direction: column;
        flex-basis: 300px;
    }
    .places .card{
        width:350%;
    }
    
}
