{% extends 'base.html' %}

{% block content %}
<div id="main_container">
        <div class="form_container">
            <div class="login_fail_form">
                <h1 class="login_fail"> 로그인에 실패하셨습니다</h1>
                <p>다시 로그인 시도하시겠습니까 ?<br><a href="{% url 'accounts:login' %}"> 로그인</a></p>
            </div>
            <div class="bottom_box">
                <div>
                    <span>아이디가 없으신가요?</span><a href="{% url 'accounts:signup' %}">회원가입</a>
                </div>
            </div>


        </div>

    </div>

{% endblock %}