{% extends 'base.html' %}
{% load static %}

{% block content %}

{% load account socialaccount %}
{% providers_media_js %}
<!-- {% load i18n %} trnas 태그 사용시 -->


<div id="main_container">
    <div class="form_container">
        <div class="form">
            <h1 class="title"></h1>
            <form method="POST" action="{% url 'accounts:login'%}">
                {% csrf_token %}
                <p class="login_user_name">
                    <label for="id_username">아이디:</label>
                    <input id = "{{ form.username.id_for_label }}" maxlength="15" name="{{ form.username.html_name }}">
                </p>

                <p class="login_user_password">
                    <label for="id_username">비밀번호:</label>
                    <input type="password" id="{{ form.password.id_for_label }}" maxlength="15" name = "{{ form.password.html_name }}">
                </p>

                <input type="submit" class="submit_btn" value="로그인">
            </form>
        </div>
        <div class="bottom_box">
            <div>
                <span>아이디가 없으신가요?</span><a href="{% url 'accounts:signup' %}"> 회원가입</a>
            </div>
            <br>
            <div class="social_account">
                <a href="{% provider_login_url 'naver' %}"><img src="{% static 'imgs/naver.jpg' %}" alt="naver"></a>
                <a href="{% provider_login_url 'kakao' %}"><img src="{% static 'imgs/kakao.png' %}" alt="kakao"></a>
                <a href="{% provider_login_url 'facebook' %}"><img src="{% static 'imgs/facebook.png' %}" alt="facebook"></a>
            </div>
        </div>
    </div>
    
{% endblock %} 
