{%extends 'base.html' %}
{% block title %}
{% load crispy_forms_tags %}
Add a Hotplaces !
{% endblock %}
{% block content %}
    <div class="main_container">

        <div class="add_places_title">
            <h1>핫플 추가하기</h1>
        </div>

        <div class="form_container">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="csrfmiddlewaretoken" value="OocUj6GdBIqu7pySznlMdPcVT7SyEYLe5vYpS1yGvpEDn4cwUKZWq3jvw81uIfow">
                <p><label for="id_category">Category:</label> 
                    <select name="category" required="" id="id_category">
                        <option value="" selected="">---------</option>
                        <option value="4">Cafe</option>
                        <option value="6">Ocean</option>
                        <option value="5">Restaurants</option>
                    </select>
                </p>

                <p>
                    <label for="id_name">Name:</label> 
                    <input type="text" name="name" maxlength="200" required="" id="id_name">
                </p>

                <p>
                    <label for="id_image">Image:</label> 
                    <input type="file" name="image" accept="image/*" id="id_image">
                </p>

                <p>
                    <label for="id_description">Description:</label>
                    <textarea name="description" cols="40" rows="10" id="id_description"></textarea>
                </p>

                <p>
                    <label for="id_address">Address:</label> 
                    <input type="text" name="address" value="제주" maxlength="200" required="" id="id_address">
                </p>
                
                <div class="add_places_submit_btn">
                    <button type="submit" class=" btn btn-primary" value="Upload">Upload</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}