{% extends 'base.html' %}
{% block title %}
Add a Comment !
{% endblock %}
{% block content %}
        <div class="comment_title title">
            <h1>댓글 작성</h1>
        </div>

        <div class="comment_big_container">
            <div class="comment_small_container">
                <div class="comment_form">
                    <form method="POST" action="" >
                        {% csrf_token %}                   
                        <p>
                            <label class= "title" for="id_text">내용:</label> 
                            <textarea name="text" maxlength="200" required="" id="id_text">{{ form.text.value|default_if_none:"" }}</textarea>
                        </p>
                        <div class="btn-position">
                            <div class="submit_btn">
                                <button type="submit" class="save btn btn-primary"  value="저장">저장</button>             
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </form>
{% endblock %}