                       
                        <p>
                            <label class= "title" for="id_text">내용:</label> 
                            <textarea name="text" maxlength="200" required="" id="id_text"></textarea>
                        </p>
                        <div class="btn-position">
                            <div class="submit_btn">
                                <button type="submit" class="save btn btn-primary" >저장</button>             
                            </div>
                        </div>