<input type="hidden">
                <p><label for="id_category" class="title" >Category:</label> 
                    <select class= "places_input" name="category" required="" id="id_category">
                        <option value="" selected="">---------</option>
                        <option value="4">Cafe</option>
                        <option value="6">Ocean</option>
                        <option value="5">Restaurants</option>
                    </select>
                </p>

                <p>
                    <label for="id_name" class="title" >Name:</label> 
                    <input class= "places_input" type="text" name="name" maxlength="200" required="" id="id_name">
                </p>

                <p>
                    <label for="id_photo" class="title">Image:</label> 
                    <input type="file" name="photo" accept="photo/*" id="id_photo">
                </p>

                <p>
                    <label for="id_description" class="title">Description:</label>
                    <textarea class= "places_input" name="description" cols="40" rows="10" id="id_description"></textarea>
                </p>

                <p>
                    <label for="id_address" class="title">Address:</label> 
                    <input class= "places_input" type="text" name="address" value="제주" maxlength="200" required="" id="id_address">
                </p>
                
                <div class="add_places_submit_btn">
                    <button type="submit" class=" btn btn-primary" value="Upload">Upload</button>
                </div>
            </form>