{% extends 'base.html' %}
    {% block title %}Places Detail{% endblock %}
    

    {% block content %}
    
    <div class="container">
        <div class="row">
            <div class="col-4">
                <img src="{{places.image.url}}" width="100%">
            </div>
            <div class="col">
                {{places.name}}<br><br>
                {{places.address}}<br><br>
                {{places.description}}
            </div>
            <div id="map" style="width:400px;height:300px;"></div>
                <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=838a44e9aa8cf004b7c571dec071965b&libraries=services,clusterer,drawing"></script>
                <script>
		            var container = document.getElementById('map');
		            var options = {
			        center: new kakao.maps.LatLng(33.450701, 126.570667),
			        level: 3
		            };
		            var map = new kakao.maps.Map(container, options);
                    var geocoder = new kakao.maps.services.Geocoder();
                    geocoder.addressSearch("{{places.address}}", function(result, status) {
                        if (status === kakao.maps.services.Status.OK) {

                            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
                            var marker = new kakao.maps.Marker({
                                map: map,
                                position: coords
                            });
                            var infowindow = new kakao.maps.InfoWindow({
                                content: '<div style="width:150px;text-align:center;padding:6px 0;">{{places.name}}</div>'
                            });
                            infowindow.open(map, marker);
                            map.setCenter(coords);
                        } 
                    });    
                    
	            </script>
            </div>
        </div>
    </div>

    <hr>
    <a class="btn btn-default" href="{% url 'main:add_comment' id=places.id places_slug=places.slug %}">Add comment</a>
    {% for comment in places.comments.all %}
        <div class="comment">
            <div class="col date">
                {{ comment.created_date }}
            </div>
            <div class="col">
                <strong>{{ comment.author }}</strong>
            </div>
            <div class="col">
            <p>{{ comment.text|linebreaks }}</p>
            </div>
        </div>
    {% empty %}
        <div class="col">
            <p>No comments here yet :(</p>
        </div>
    {% endfor %}

    {% endblock %}