{% extends 'base.html' %}
    {% block title %}Places Detail{% endblock %}
    

    {% block content %}
    
    <div class="detail_layout container">
        <div class="row">
            <div class="col-4">
                <img src="{{places.photo.url}}" width="100%">
            </div>
            <div class="col">
                {{places.name}}<br><br>
                {{places.address}}<br><br>
                {{places.description}}
            </div>
            <div id="map" style="width:300px;height:300px;"></div>
                <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=838a44e9aa8cf004b7c571dec071965b&libraries=services,clusterer,drawing"></script>
                <script>
		            var container = document.getElementById('map');
		            var options = {
			        center: new kakao.maps.LatLng(33.450701, 126.570667),
			        level: 3
		            };
		            var map = new kakao.maps.Map(container, options);
                    var geocoder = new kakao.maps.services.Geocoder();
                    geocoder.addressSearch("{{places.address}}", function(result, status) {
                        if (status === kakao.maps.services.Status.OK) {

                            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
                            var marker = new kakao.maps.Marker({
                                map: map,
                                position: coords
                            });
                            var infowindow = new kakao.maps.InfoWindow({
                                content: '<div style="width:150px;text-align:center;padding:6px 0;">{{places.name}}</div>'
                            });
                            infowindow.open(map, marker);
                            map.setCenter(coords);
                        } 
                    });    
                </script>
            </div>
        </div>
    </div>
    <hr>
    {% for comment in places.comments.all %}
        <section class="comment_container">
            <div class="comment">
                <div class="col">
                    <strong>이름 : {{ comment.author }}</strong>
                </div>
                <div class="col">
                    {{ comment.text |linebreaks}}
                </div>
                <div class="col date">
                    {{ comment.created_date }}
                </div>
                {% if comment.author == user.get_username %}
                <div class="col edit_comment">
                    <a class="btn btn-primary" href="{% url 'main:edit_comment' id=places.id places_slug=places.slug comment_id=comment.id%}">  수정하기</a>
                    <a class="btn btn-danger" href="{% url 'main:delete_comment' id=places.id places_slug=places.slug comment_id=comment.id%}" onclick="return confirm('정말 삭제하시겠습니까?')">  삭제하기</a>
                </div>
                {% endif %}
            </div>
            {% empty %}
            <div class="col">
                <div class="comment title">
                    <p>제일 먼저 댓글을 남겨주세요 :D</p>
                </div>
            </div>
        {% endfor %}

        {% if user.is_authenticated %}
        <div class="comment_btn">
            <a class="btn btn-primary" href="{% url 'main:add_comment' id=places.id places_slug=places.slug %}">댓글 작성하기</a>
        </div>
        {% else %}
        <div class="comment_btn">
            <a class="btn btn-danger" href="#">댓글을 작성하려면 로그인을 해주세요</a>
        </div>
    </section>
    {% endif %}

    {% if request.user.is_superuser %}
        <div class="delete_btn">
            <a class="btn btn-danger" href="{% url 'main:delete_places' id=places.id places_slug=places.slug %}" onclick="return confirm('정말 삭제하시겠습니까?')">삭제하기</a>
        </div>

    {% endif %}
    {% endblock %}