
{% extends 'base.html' %}
{% block title %}Hot Jeju !{% endblock %}
{% block content %}

<div class="row">
    <div class="col-2">   
        <div class="category_name sidebox list-group">
            <a href="/" class="list-group-item {% if not current_category %}active{% endif %}">All</a>
                {% for c in categories %}
                <a href="{{c.get_absolute_url}}" class="list-group-item {% if current_category.slug == c.slug %}active{% endif %}">
                {{c.name}}</a>
                {% endfor %}
        </div>
    </div>
    

    <div class="place_list col">
        <!-- <div class="alert alert-dark categorybox" role="alert">
            {% if current_category %}{{current_category.name}}{% else %}All places{% endif %}
        </div> -->
        <div class="place_group row">
            {% for places in places %}
                <div class="places col-4">
                    <div class="card">
                        <img class="card-img-top" src="{{places.photo.url}}" alt="photo">
                        <div class="card-body">
                            <h5 class="card-title">{{places.name}}</h5>
                            <p class="description card-text">{{places.description}} </p>
                            <a href="{{places.get_absolute_url}}" class="btn btn-secondary">View Detail</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

