{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/hotjeju.css' %}">
    <title>Notice !</title>
</head>
<body>
        <div class="alert alert-info" role='alert'><h1>공지사항</h1></div>
        <p></p>
        {% for n in notices %}
        <ul>
                <li><a href="{{n.get_absolute_url}}">{{n.name}}</a></li>
        </ul>
        {% endfor %}
</body>
</html>

{% endblock %}