{% extends 'base.html' %}

{%load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Notice !</title>
</head>
<body>
    <div class="notice-container">
        <div class="notice-header">
            {{notices.name}}
        </div>
        <br>
        <div class="notice-content">
            {{notices.text}}
        </div>
    </div>
    
</body>
</html>
{% endblock %}